@import "variables";
@import "functions";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: $primary-color;
    color: $light-color;
    display: grid;
    grid-template-rows: auto auto 10px;

    a {
        text-decoration: none;
        color: $light-color;
    }

    nav {
        margin-top: 10px;

        .nav-header {
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: space-around;

            .options {
                font-size: 1rem;

                i {
                    padding: 5px;
                }

                .option {
                    padding: 5px;
                    display: inline-block;
                }

                .option:hover {
                    @include btn-hover;
                    cursor: pointer;
                }
            }
        }

        .setting-menu {
            display: none;
            padding: 20px;
            background-color: darken($light-color, 2%);
            color: lighten($dark-color, 40%);
            justify-content: center;
            align-items: center;
            font-size: 1.2rem;
            animation: toggle-menu 0.1s;
            overflow: hidden;

            .settings {
                display: grid;
                grid-template-columns: repeat(2, auto);
                gap: 0.9rem;
            }

            input[type='ranger'] {
                width: 10px;
            }

            .switch-btn {
                input[type='checkbox'] {
                    display: none;
                }

                width: 60px;
                height: 30px;
                border-radius: 18px;
                //background-color: darken($light-color, 10%);
                background-color: $primary-color;
                display: flex;
                align-items: center;
                padding-left: 5px;
                padding-right: 5px;
                cursor: pointer;

                &-circle {
                    //background-color: $primary-color;
                    background-color: $light-color;
                    transform: translateX(0px);
                    border-radius: 50%;
                    width: 20px;
                    height: 20px;
                    transition: 200ms;
                }

                &-active {
                    transform: translateX(30px);
                    transition: 300ms;
                }
            }
        }
    }

    @keyframes toggle-menu {
        0% {
            height: 0;
        }

        100% {
            height: 50px;
        }
    }


    main {
        .tomato {
            display: flex;
            flex-direction: column;
            height: 100vh;
            justify-content: center;
            align-items: center;

            .timer {
                text-align: center;
                font-size: 5rem;
                font-weight: bold;
            }

            &-btn {
                border: none;
                margin-top: 40px;
                color: $primary-color;
                background-color: $light-color;
                font-size: 2rem;
                padding: 10px 40px;
                cursor: pointer;
                border-radius: 5px;
                text-transform: uppercase;

                &:hover {
                    background-color: darken($light-color, 4%);
                }

                &:focus{
                    outline: 0;
                }
            }

            &-status {
                padding: 20px 10px;
                border-radius: 5px;
                display: flex;
                margin-top: 40px;
                height: 20px;
                align-items: center;
                justify-content: center;

                img {
                    width: 50px;
                    height: 50px;
                    padding: 10px;
                }
            }
        }
    }

    footer {
        padding: 10px;
        background-color: $light-color;
        color: $dark-color;
        text-align: center;
        font-size: 0.9rem;

        a {
            color: darken($primary-color, 10%);
        }
    }
}
